<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAYD">
        <activity
            android:name=".house_keeping"
            android:exported="false" />
        <activity
            android:name=".selectService_for_ServiceProvider"
            android:exported="false" />
        <activity
            android:name=".booking_details"
            android:exported="false" />
        <activity
            android:name=".painter"
            android:exported="false" />
        <activity
            android:name=".cooker"
            android:exported="false" />
        <activity
            android:name=".booking_summary"
            android:exported="false" />
        <activity
            android:name=".hvacr"
            android:exported="false" />
        <activity
            android:name=".booking_schedule"
            android:exported="false" />
        <activity
            android:name=".graphic_designer"
            android:exported="false" />
        <activity
            android:name=".electrician_properties"
            android:exported="false" />
        <activity
            android:name=".book_your_service"
            android:exported="false" />
        <activity
            android:name=".plumber_properties"
            android:exported="false" />
        <activity
            android:name=".Forget_password_customer"
            android:exported="false" />
        <activity
            android:name=".sign_in_ForCustomer"
            android:exported="false" />
        <activity
            android:name=".sign_in_for_service_provider"
            android:exported="false" />
        <activity
            android:name=".serviceProviderSignUp"
            android:exported="false" />
        <activity
            android:name=".select_preference"
            android:exported="false" />
        <activity
            android:name=".customerSignUp"
            android:exported="false" />
        <activity
            android:name=".home1"
            android:exported="true" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>